<!DOCTYPE html>
head
  include includes/head.pug
  meta(name='title' content=`KEEP Directory User: ${name}`)
  meta(name='description' content=`${name.split('#')[0]} contribute ${articles.length} articles so far! And that is awesome!`)
  meta(property="og:image" content=avatarUrl)
  link(rel="stylesheet", href="/user.css")
  title=`KEEP Directory: ${name}`
body
  .root
    .head
      .title
        a(href="/")
          h2 KEEP Directory 
        span USER
    .user-info
      .user-picture
        img(src=avatarUrl, loading="lazy")
      .user-detail
        .main-info
          table
            tr
              td Discord Name
              td :
              td=name
            tr
              td Articles
              td :
              td=articles.length
            tr
              td First Submission
              td :
              td=`${["January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December"][new Date(articles.sort((a,b) => a.timestamp - b.timestamp)[0].timestamp).getMonth()]} ${new Date(articles.sort((a,b) => a.timestamp - b.timestamp)[0].timestamp).getDate()}, ${new Date(articles.sort((a,b) => a.timestamp - b.timestamp)[0].timestamp).getFullYear()}`
            tr
              td Latest Submission
              td :
              td=`${["January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December"][new Date(articles.sort((a,b) => b.timestamp - a.timestamp)[0].timestamp).getMonth()]} ${new Date(articles.sort((a,b) => b.timestamp - a.timestamp)[0].timestamp).getDate()}, ${new Date(articles.sort((a,b) => b.timestamp - a.timestamp)[0].timestamp).getFullYear()}`
    .head
      .title
        h5 Articles
    .articles
      each article in articles
        .container
          .top
            .folder
              a(href=`/${article.translateFrom}`)=article.other? `${article.translateFrom} > others` : `${article.translateFrom} > ${article.root} > ${article.child}`
            .title-box
              span.title
                a(target="_blank", href=article.url)=article.title
              if !article.other
                span.translatefrom Translated from:
                  a(target="_blank", href=article.matchUrl)=article.matchTitle
            p=article.description
          .time
            span
              a(target="_blank", href=`https://discordapp.com/channels/590951101600235531/701767679102550016/${article.chat_id}`)=`${["January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December"][new Date(article.timestamp).getMonth()]} ${new Date(article.timestamp).getDate()}, ${new Date(article.timestamp).getFullYear()}`
            span
              a(target="_blank", href=article.url) view full article ↗
  include includes/footer.pug
